Problem Type:
    Type: OnePlate

Geometry:
    Length (X): 10.0
    Width (Y): 10.0
    
Mesh:
    Number of Elements in X: 10
    Number of Elements in Y: 10

Materials:
    Plate:
        Thermal Conductivity X: 0.65
        Thermal Conductivity Y: 0.65
        Density: 1598
        Specific Heat Capacity: 930

Boundary Conditions:
    Top:
      Models: Heat Transfer
      Initial Temperature: 293
    Bottom:
      Models: Heat Transfer
      Initial Temperature: 293
    Left:
      Models: Heat Transfer
      Initial Temperature: 293
    Right:
      Models: Heat Transfer
      Initial Temperature: 293
    
Simulation:
  Time Step: 0.0002
  Number Time Steps: 30001
  

Plot:
  Temp Output Folder: "./output/Temperature/"
  Dic Output Folder: "./output/Dic/"
  figure temperature name: Temperature
  figure dic name: Dic
  Color Interpolation: 50
  Color Map: "inferno"
  plot interval: 500
  
Animation:
    Temperature name: temperature
    Dic name: Dic
